In [1]:
import pandas as pd

In [2]:
year = 2021
str = 'https://www.pro-football-reference.com/years/{}/rushing.htm'

In [3]:
url2 = str.format(year)

In [4]:
df = pd.read_html(url2, header = 1)

In [8]:
df

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Joe Mixon,CIN,25,rb,1,1,29,127,1,6,19,4.4,127.0,0
1,2,Mark Ingram,HOU,32,rb,1,1,26,85,1,4,11,3.3,85.0,0
2,3,Damien Harris,NWE,24,rb,1,1,23,100,0,6,35,4.3,100.0,1
3,4,Christian McCaffrey,CAR,25,rb,1,1,21,98,0,2,18,4.7,98.0,0
4,5,Dalvin Cook,MIN,26,rb,1,1,20,61,1,5,17,3.1,61.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,126,Jonnu Smith,NWE,26,te,1,1,1,6,0,0,6,6.0,6.0,1
130,127,Rhamondre Stevenson,NWE,23,NaN,1,0,1,2,0,0,2,2.0,2.0,1
131,128,Freddie Swain,SEA,23,NaN,1,0,1,5,0,0,5,5.0,5.0,0
132,129,Darrel Williams,KAN,26,NaN,1,0,1,4,0,0,4,4.0,4.0,0
133,130,Robert Woods,LAR,29,wr,1,1,1,7,0,0,7,7.0,7.0,0

In [5]:
rb_df = df[0]

In [6]:
df = rb_df.drop(rb_df[rb_df.Player == 'Player'].index) #delete the rows with 'Age' in column 'Age'
rb_df = df[['Player', 'Tm', 'Pos', 'Age', 'Att', 'Yds', 'TD', 'Fmb']]

In [7]:
rbdf = rb_df.loc[(rb_df['Pos'] == 'RB')] #locate rows that only contain

In [26]:
rbdf.to_csv(r'C:\Users\Steve.Lin\Desktop\test\Resources\rb_data.csv', index=False)